<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:fb="http://ogp.me/ns/fb#" class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock title %} | {{ name }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    {% block metablock %}
    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block cssblock %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/libs/modernizr-2.0.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/d3.v2.min.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for("static", filename="js/libs/jquery-1.7.0.min.js") }}"><\/script>')</script>

    <meta content="" property="og:title" />
    <meta content="" property="og:type" />
    <meta content="" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="" property="og:site_name" />
    <meta property="og:description" content="Facebook Hack" />
    <meta content="{{ app_id }}" property="fb:app_id" />

       <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
      });
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->

  </head>
  <body class="{% block body_class %}{% endblock %}">
      <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{{ app_id }}', // App ID
          // channelUrl : '{{ channel_url }}', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so Ruby can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    {% block top_bar %}{% include "core/header.html" %}{% endblock %}

    <div class="container">
        <div class="content-wrapper">
        {% block content %}
            <div class="page-header">
                {% block page_header_content %}
                {% endblock %}
            </div>
            <div class="row">
                <div class="{% block main_content_class %}span10{% endblock %}">
                    {% block main_content %}
                    {% endblock %}
                </div>
                <div class="{% block seconary_content_class %}span4{% endblock %}">
                    {% block secondary_content %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        </div>
        {% include "core/footer.html" %}
    </div>

    <script src="{{ url_for('static', filename='js/libs/bootstrap-twipsy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/bootstrap-popover.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/bootstrap-buttons.js') }}"></script>
    {% block jsblock %}
    {% endblock %}

    <!--[if lt IE 7 ]>
        <script src="{{ url_for('static', filename='js/libs/dd_belatedpng.js') }}"></script>
        <script>DD_belatedPNG.fix("img, .png_bg");</script>
    <![endif]-->

    {% if not debug %}
    <script>
        window._gaq = [['_setAccount','UA-XXXXXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
        Modernizr.load({
            load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
        });
    </script>
    {% endif %}
</body>
</html>
